@import "normalize";

//dimensions
$base-font-size: 16px;
$max-content-width: 1000px;
$breakpoint-large: 700px;
$breakpoint-small: 570px;

$golden-ratio: 1.618;
$line-height-multiplier: 1.15;
$primary-horiz-gutter: 1.6rem;
$primary-vert-gutter: $primary-horiz-gutter / $golden-ratio;
$secondary-horiz-gutter: $primary-horiz-gutter / 2.4;
$secondary-vert-gutter: $secondary-horiz-gutter / $golden-ratio;

$circle-width: 20rem;
$radial-width: $primary-horiz-gutter;

$header-height: 4rem;
$header-topmargin: 8rem;
$header-botmargin: $primary-vert-gutter;
$footer-height: 2.4rem;

//font
$font-family: Open Sans,system-ui,BlinkMacSystemFont,Roboto,sans-serif;
$heading-1-size: 2rem;
$heading-2-size: 1.2em;
$heading-3-size: 1em;

//colours
$primary-color: #222;
$primary-bg-color: #f7f7f7;
$secondary-color: #7c7c7c;
$secondary-bg-color: #d4d4d4;
$tertiary-color: #e1e1e1;
$tertiary-bg-color: #474747;

$link-color: $primary-color;
$link-color-hover: $secondary-color;

//basics
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font: $base-font-size $font-family;
  color: $primary-color;
  background-color: $primary-bg-color;
}
body {
  margin: 0 auto;
  padding: 2rem $primary-horiz-gutter 0;
  @media screen and (max-width: $breakpoint-large) {
    padding: ( (2 * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw ( (($primary-horiz-gutter / 1rem) * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw 0;
  }
  max-width: $max-content-width;
}
a,
a:link,
a:visited {
  color: $link-color;
}
a:hover {
  color: $link-color-hover;
}
p {
  margin-top: 0;
  margin-bottom: .6em;
}
.heading1 {
  font-size: $heading-1-size;
  font-weight: 400;
  text-shadow: 1px 1px $primary-bg-color;
  letter-spacing: -1.4px;
  margin: -2px 0 0;
}
.heading2 {
  font-size: $heading-2-size;
  margin: 0 0 $secondary-vert-gutter;
}
.heading3 {
  font-size: $heading-3-size;
  font-weight: 700;
}
//header
.header-primary {
  color: $secondary-color;
  height: $header-height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: $primary-vert-gutter;
  margin-top: $header-topmargin;
  @media screen and (max-width: $breakpoint-large) {
    margin-top: ( (($header-topmargin / 1rem) * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw;
  }
  @media print {
    margin-top: 0;
  }
  &::before {
    content: '';
    background-color: $secondary-bg-color;
    position: absolute;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: -1;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: -1rem; //silly ie11 bug
    }
    @media screen and (max-width: $breakpoint-large) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: ( 1 * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) * -1vw; //silly ie11 bug
    }
    @media screen and (max-width: $breakpoint-large) {
      height: ( (($header-height / 1rem) * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw
    }
  }
  & .heading1 {
    @media screen and (max-width: $breakpoint-large) {
      font-size: ( (($heading-1-size / 1rem) * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw;
    }
  }
}

//footer
.footer-primary {
  color: $tertiary-color;
  height: $footer-height;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  &::before {
    content: '';
    background-color: $tertiary-bg-color;
    position: absolute;
    left: 0;
    right: 0;
    height: $footer-height;
    z-index: -1;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin-top: -1rem; //silly ie11 bug
    }
  }
}

.footer-link,
.footer-link:link,
.footer-link:visited {
  float: right;
  text-decoration: none;
  color: $tertiary-color;
  background-color: $tertiary-bg-color;
  &:hover {
    color: $primary-bg-color;
    text-decoration: underline;
  }
  @media print {
    display: none;
  }
}

.intro,
.brands,
.feature,
.contact {
  margin-bottom: $primary-vert-gutter;
}

// feature blocks pair (would work with > 2)
// split pair 50/50 without a wrapping element to clearfix
@media screen and (min-width: $breakpoint-large) {
  .feature {
    width: 50%;
  }
  .feature:nth-child(odd) {
    float: left;
    padding-right: $primary-horiz-gutter / 2;
  }
  .feature:nth-child(even) {
    float: right;
    padding-left: $primary-horiz-gutter / 2;
  }
  .feature + *:not(.feature) {
    clear: both;
  }
}
.feature__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.feature__list-item {
  margin-bottom: $secondary-vert-gutter;
}

// brand list
.brand-list {
  list-style: none;
  font-size: 0.825rem;
  border: 1px solid $tertiary-color;
  margin: 0;
  padding: $secondary-vert-gutter 0 0;
}
.brand-list-item {
  display: inline-block;
  vertical-align: top;
  padding: 0 $secondary-horiz-gutter $secondary-vert-gutter;
}

.main-content {
  @media screen and (max-width: $breakpoint-large) {
    font-size: ( ($base-font-size / 1px)  / (($breakpoint-large / 1px) / 100) ) * 1vw;
  }
  @media screen and (max-width: $breakpoint-small) {
    font-size: 13px;
  }
}

// mugshot on intro
.intro__mugshot {
  font-size: 1rem;
  float: right;
  margin-top: -(($circle-width / 2) + ($header-height / 2) + $primary-vert-gutter);
  @media screen and (max-width: $breakpoint-large) {
    margin-top: calc( #{((( ($circle-width / 1rem) * ($base-font-size / 1px) )  / (($breakpoint-large / 1px) / 100) ) / -2 )  * 1vw} - #{ ($header-height / 2rem) + $primary-vert-gutter });
  }
  @media print {
    margin-top: -$header-height;
  }
  width: $circle-width;
  height: $circle-width;
  @media screen and (max-width: $breakpoint-large) {
    width:  ( (($circle-width / 1rem) * ($base-font-size / 1px) )  / (($breakpoint-large / 1px) / 100) ) * 1vw;
    height:  ( (($circle-width / 1rem) * ($base-font-size / 1px) )  / (($breakpoint-large / 1px) / 100) ) * 1vw;
  }
  background-image: url(../img/danb-c2r.jpg);
  background-size: cover;
  border-radius: 50%;
  border: $radial-width solid $secondary-bg-color;
  shape-outside: circle() padding-box;
  shape-margin: $radial-width;
  @media screen and (max-width: $breakpoint-large) {
    border-width: ( (($radial-width / 1rem) * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw;
    shape-margin: ( (($radial-width / 1rem) * ($base-font-size / 1px))  / (($breakpoint-large / 1px) / 100) ) * 1vw;
  }
}