@import "normalize.css";

//dimensions
$base-font-size: 16px;
$max-content-width: 1200px;
$breakpoint-large: 700px;

$golden-ratio: 1.618;
$primary-horiz-gutter: 1rem;
$primary-vert-gutter: $primary-horiz-gutter / $golden-ratio;
$secondary-horiz-gutter: $primary-horiz-gutter / 3;
$secondary-vert-gutter: $secondary-horiz-gutter / $golden-ratio;

//font
$font-family: Sans-serif;
$heading-1-size: 2rem;
$heading-2-size: 1.4rem;
$heading-3-size: 1rem;

//colours
$primary-color: #222;
$primary-bg-color: #fff;
$secondary-color: #7c7c7c;
$secondary-bg-color: #e1e1e1;
$tertiary-color: #e1e1e1;
$tertiary-bg-color: #7c7c7c;

//basics
html {
  font: $base-font-size $font-family;
  color: $primary-color;
  background-color: $primary-bg-color;
}
body {
  margin: 0 auto;
  padding: 0 $primary-horiz-gutter;
  max-width: $max-content-width;
}
* {
  box-sizing: border-box;
}
//header
.header-primary {
  color: $secondary-color;
  background-color: $secondary-bg-color;
  padding: $primary-vert-gutter $primary-horiz-gutter;
}
.heading1 {
  font-size: $heading-1-size;
  margin: 0;
}
.heading2 {
  font-size: $heading-2-size;
  margin-bottom: 0;
}
.heading3 {
  font-size: $heading-3-size;
  font-weight: 700;
}

//footer
.footer-primary {
  color: $tertiary-color;
  background-color: $tertiary-bg-color;
  padding: $primary-vert-gutter $primary-horiz-gutter;
}

// feature blocks pair
.feature {
}
// split pair 50/50 without a wrapping element to clearfix
@media screen and (min-width: $breakpoint-large) {
  .feature {
    width: 50%;
  }
  .feature:nth-child(odd) {
    float: left;
    padding-right: calc(#{$primary-horiz-gutter} / 2);
  }
  .feature:nth-child(even) {
    float: right;
    padding-left: calc(#{$primary-horiz-gutter} / 2);
  }
  .feature + *:not(.feature) {
    clear: both;
  }
}
.feature__list {
  list-style: none;
  padding-left: 0;
}
.feature__list-item {
  margin-bottom: $primary-horiz-gutter;
}

// brand list
.brand-list {
  list-style: none;
  font-size: 0.825rem;
  border: 1px solid $tertiary-color;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.brand-list-item {
  flex-basis: 20%;
  padding: $secondary-vert-gutter $secondary-horiz-gutter;
}