@import url(normalize.css);
* {
  box-sizing: border-box; }

html {
  font: 16px Open Sans, system-ui, BlinkMacSystemFont, Roboto, sans-serif;
  color: #222;
  background-color: #f7f7f7; }

body {
  margin: 0 auto;
  padding: 2em 1rem 0;
  max-width: 1000px; }

a,
a:link,
a:visited {
  color: #222; }

a:hover {
  color: #7c7c7c; }

p {
  margin-top: 0;
  margin-bottom: .6em; }

.heading1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.84rem;
  margin: 0; }

.heading2 {
  font-size: 1.2rem;
  margin-bottom: 0; }

.heading3 {
  font-size: 1rem;
  font-weight: 700; }

.header-primary {
  color: #7c7c7c;
  background-color: #d4d4d4;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.61805rem;
  margin-top: 8rem; }
  .header-primary::after {
    content: '';
    background-color: #d4d4d4;
    position: absolute;
    left: 0;
    right: 0;
    height: 4rem;
    z-index: -1; }

@media print {
  .header-primary {
    margin-top: 0; } }

.footer-primary {
  color: #e1e1e1;
  background-color: #7c7c7c;
  min-height: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer-primary::after {
    content: '';
    background-color: #7c7c7c;
    position: absolute;
    left: 0;
    right: 0;
    height: 2.4rem;
    z-index: -1; }

.footer-link {
  float: right;
  text-decoration: none;
  color: #e1e1e1; }
  .footer-link:visited {
    color: #e1e1e1; }
  .footer-link:hover {
    color: #f7f7f7;
    text-decoration: underline; }

@media print {
  .footer-link {
    display: none; } }

@media screen and (min-width: 700px) {
  .feature {
    width: 50%; }
  .feature:nth-child(odd) {
    float: left;
    padding-right: 0.5rem; }
  .feature:nth-child(even) {
    float: right;
    padding-left: 0.5rem; }
  .feature + *:not(.feature) {
    clear: both; } }

.feature__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0.61805rem; }

.feature__list-item {
  margin-bottom: 1rem; }

.brand-list {
  list-style: none;
  font-size: 0.825rem;
  border: 1px solid #e1e1e1;
  margin: 0;
  padding: 0; }

.brand-list-item {
  display: inline-block;
  vertical-align: top;
  padding: 0.20602rem 0.33333rem; }

.intro__mugshot {
  float: right;
  margin-top: -12.61805rem;
  right: 3em;
  width: 20em;
  height: 20em;
  background-image: url(../img/danb-c2r.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 50%;
  border: 1rem solid #d4d4d4;
  shape-outside: circle() padding-box;
  shape-margin: 1rem; }

@media print {
  .intro__mugshot {
    margin-top: -4rem; } }
